---
pagination: 
  enabled: true
---


{% include header.html %}

    <main id="portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-container">
                    <div class="hero-content">
                        <div class="row text-left">
                            <div class="col-sm-12">
                                <h2>🔥Interactive results of SteerX🔥</h2>
                                <!-- <p>Generating more results for fun here. Check <a href="./test_0.html">this page</a> for the comparison over 40 test prompts in our experiments.</p> -->
                            </div>
                        </div>
                    
                        <div style="font-size: 20px; text-align: center; padding: 1em">
                            <a href="https://byeongjun-park.github.io/SteerX/">Home</a>
                            &nbsp;&bull;&nbsp;
                            <strong>Text-to-4D</strong>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_1.html">Image-to-4D</a>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_2.html">Text-to-3D</a>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_3.html">Image-to-3D</a>
                        </div>
                    </div>
                </div>
                <div class="content-wrap">
                    <div class="row post-row">
                        <div class="container">
                            <div class="content">
                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/A fluffy dog.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">A fluffy dog with a joyful expression bounds through a snowy landscape...</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/a little girl is picking up seashells, followed by a husky.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">By the azure sea, a little girl is picking up seashells, followed by a husky, ...</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/An elderly man with white hair rode a motorcycle.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">An elderly man with white hair rode a motorcycle through the country road ...</p>
                                    </div>
                                </div>

                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/melbourne.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">The camera passes through the graffiti alley in Melbourne ...</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/At the party, colorful lights flickered, tables were laden with cakes and desserts, and people held drinks in their hands, dancing to the rhythm.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">At the party, colorful lights flickered, tables were laden with cakes and desserts ....</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/woman .viser&initDistanceScale=0.15&initHeightOffset=0.08" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">A woman in a dress lost her balance and fell on the steps, ...</p>
                                    </div>
                                </div>

                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/Several giant wooly mammoths approach treading thr.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">Several giant wooly mammoths approach treading through a snowy meadow, ...</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/Animated scene features a close-up of a short fluf.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">Animated scene features a close-up of a short fluffy monster ...</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="https://byeongjun-park.github.io/SteerX/build/?playbackPath=https://byeongjun-park.github.io/SteerX/files/text-to-4d/bridge.viser&initDistanceScale=0.2&initHeightOffset=0.16" style="width: 375px; height: 375px;"></iframe>
                                        <p class="excerpt">A magnificent bridge with a constant stream of traffic spans over a river ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}